.project {
  @apply relative
  flex flex-col
  items-center justify-center
  w-full
  p-6 xs:p-4
  bg-light dark:bg-dark
  border border-solid border-dark dark:border-light
  rounded-2xl xs:rounded-br-3xl;
}

.project_image-link {
  @apply cursor-pointer
  overflow-hidden
  rounded-lg
  dark:text-light
  w-1/2 lg:w-full;
}

.project_image {
  @apply w-full
  h-auto;
}

.project_info-grid {
  @apply w-full
  flex flex-col items-start justify-between
  mt-4;
}

.project_tags {
  @apply font-medium
  text-primary dark:text-primaryDark
  text-xl md:text-base;
}

.project_title-link {
  @apply underline-offset-2 hover:underline;
}

.project_title {
  @apply w-full 
  my-2
  font-bold
  dark:text-light
  text-left
  text-3xl lg:text-2xl;
}

.project_demo-grid {
  @apply flex items-center justify-between
  w-full
  mt-2;
}

.project_repo-link {
  @apply w-8 md:w-6;
}

.project_app-link {
  @apply font-semibold
  underline
  dark:text-light
  text-lg md:text-base;
}
