.skills_selector-button {
  @apply flex items-center justify-center
  py-1 md:py-0.5
  px-2 md:px-1.5 
  min-w-[6.5rem]
  font-semibold
  text-lg md:text-base
  text-light hover:text-dark
  dark:text-dark hover:dark:text-light
  bg-dark hover:bg-light
  dark:bg-light hover:dark:bg-dark
  rounded-lg
  border-2 border-solid border-transparent
  hover:border-dark hover:dark:border-light
  capitalize
  rounded-full;
}

.skills_selector-button--active {
  @apply ring-2 ring-primary dark:ring-primaryDark;
}
