body {
  /* Box */
  width: 100%;
  height: auto;
}

.layout {
  @apply
  min-h-screen
  w-full
  bg-light dark:bg-dark
  ;
}


/* NAV MENU */


.menu_container--responsive {
  @apply
  hidden
  fixed
  flex flex-col lg:flex
  items-center justify-between
  min-w-[70vw]
  py-32
  z-30
  top-1/2 left-1/2
  -translate-x-1/2 -translate-y-1/2
  bg-dark/90 dark:bg-light/75
  rounded-lg
  backdrop-blur-md
  ;
}

.nav-option_title {
  @apply
  relative
  ;
}

.nav-option_title--responsive {
  @apply
  text-light dark:text-dark
  ;
}

.nav-option--active {
  @apply
  absolute
  inline-block
  group-hover:w-full
  h-[1px]
  left-0
  -bottom-1
  transition-[width] ease-in-out duration-300
  ;
}


/* SOCIALS */



.social-option_title {
  @apply
  rounded-full
  ;
}


/* THEME */

.theme-button {
  @apply
  flex
  items-center
  justify-center
  rounded-full
  p-1
  ml-3 sm:ml-1
  bg-dark dark:bg-light
  text-light dark:text-dark
  ;
}

.theme-icon {
  @apply
  fill-dark
  ;
}


/* HOME */

.main_home {
  @apply
  pt-0 md:pt-16 sm:pt-8
  ;
}

.main_home-container {
  @apply
  flex items-center
  w-full
  text-dark dark:text-light
  ;
}

.home-container {
  @apply
  flex lg:flex-col items-center justify-between w-full
  ;
}

.home-hero_image-container {
  @apply
  w-1/2 md:w-full
  ;
}

.home-hero_image {
  @apply
  md:inline-block rounded-full p-2
  ;
}

.home-content {
  @apply
  w-1/2 lg:w-full
  flex flex-col items-center self-center
  lg:text-center
  ;
}

.home_title-text {
  @apply
  !text-left lg:!text-center
  !text-6xl xl:!text-5xl lg:!text-6xl md:!text-5xl sm:!text-3xl
  ;
}

.home_paragraph-text {
  @apply
  my-4
  text-base md:text-sm sm:text-xs
  ;
}

.home_contact-container {
  @apply
  flex items-center self-start
  mt-2
  lg:self-center
  ;
}

.home_contact-link {
  @apply
  ml-4
  text-lg
  font-medium
  capitalize
  flex items-center
  text-dark
  dark:text-light
  md:text-base
  ;
}


/* COMPONENTS */


/* -- MOLECULES */

/* ---- ABOUT */


/* ---- ARTICLES */

.article--feat {
  @apply
  relative
  col-span-1
  w-full
  p-4
  dark:text-light
  bg-light dark:bg-dark
  border-2 border-solid border-dark dark:border-light 
  rounded-2xl
  ;
}

.article_image-link--feat {
  @apply
  inline-block
  cursor-pointer
  overflow-hidden
  rounded-lg
  w-full
  ;
}

.article_title--feat {
  @apply
  capitalize
  font-bold
  hover:underline
  my-2 mt-4
  text-2xl xs:text-lg
  ;
}

.article_description--feat {
  @apply
  mb-2
  text-sm
  ;
}

.article_reading-time--feat {
  @apply
  font-semibold
  text-primary dark:text-primaryDark
  ;
}



/* -- HOC */
.history-container {
  @apply
  relative
  mx-auto
  w-[75%] lg:w-[90%] md:w-full
  ;
}
.history_progress-bar {
  @apply
  absolute
  w-[4px] md:w-[2px]
  h-full
  origin-top
  bg-dark dark:bg-light
  left-9 md:left-[30px] xs:left-[20px]
  top-0
  ;
}

.history_list-grid {
  @apply
  w-full
  flex flex-col items-start justify-between
  ml-4 xs:ml-2
  ;
}
