.hire-me_about-container {
  @apply flex flex-col
  w-auto h-auto
  items-center justify-center
  border-[3px]
  w-1/3 p-3 rounded-[10px]
  bg-dark dark:bg-light
  hover:bg-light hover:dark:bg-dark
  text-light dark:text-dark
  hover:text-dark hover:dark:text-light
  border-dark dark:border-light
  hover:border-dark dark:hover:border-light
  min-w-64;
}
.hire-me_label {
  @apply flex flex-col
  items-center justify-center;
}
