.footer {
  @apply w-full
  font-medium
  text-lg sm:text-base
  dark:text-light
  border-solid border-t-2
  border-dark dark:border-light;
}

.footer-content {
  @apply inline-block
  flex xl:flex-col
  gap-4 xl:gap-2
  items-center justify-between
  lg:items-center
  w-full
  h-full
  bg-light
  px-32 py-8
  z-0
  dark:bg-dark;
}

.footer_author-rights {
  @apply flex gap-2
  w-max;
}
