.li-icon__figure {
  @apply absolute
  stroke-dark dark:stroke-light;
  left: -0.04rem;
  z-index: 1;
}

/* 480px+: adjust position */
@media screen(mobile) {
  .li-icon__figure {
    left: 0.1925rem;
  }
}

/* 640px+: adjust position */
@media (min-width: 640px) {
  .li-icon__figure {
    left: 2.6925rem;
  }
}

/* 768px+: original position */
@media screen(content) {
  .li-icon__figure {
    left: 0;
  }
}

.li-icon__figure-svg {
  @apply -rotate-90;
  width: 28px;
  height: 28px;
}

/* 480px+: slightly larger */
@media screen(mobile) {
  .li-icon__figure-svg {
    width: 36px;
    height: 36px;
  }
}

/* 768px+: larger */
@media screen(content) {
  .li-icon__figure-svg {
    width: 60px;
    height: 60px;
  }
}

.li-icon__circle--outer {
  @apply fill-none
  stroke-1
  stroke-primary dark:stroke-primaryDark;
}

.li-icon__circle--progress-bar {
  @apply stroke-[5px]
  fill-light dark:fill-dark;
}

.li-icon__circle--inner {
  @apply stroke-1
  fill-primary dark:fill-primaryDark
  animate-pulse;
}
