.footer {
  @apply w-full
  font-medium
  text-lg sm:text-base
  dark:text-light
  border-solid border-t-2
  border-dark dark:border-light;
}

.footer-content {
  @apply flex xl:flex-col
  gap-4 xl:gap-2
  items-center justify-between
  lg:items-center
  w-full
  h-full
  bg-light
  px-8 sm:px-8 md:px-12 lg:px-16 xl:px-32
  py-6 md:py-8
  z-0
  dark:bg-dark;
}
